@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-black-coral font-lato;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-light-grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gray-600 border-2 border-solid border-black-coral;
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb:horizontal:hover {
    display: none;
  }

  body::-webkit-scrollbar-track {
    @apply border-2 border-solid border-black-coral;
  }
}

@layer components {
  .route {
    position: relative;
    display: inline-block;
    overflow: hidden;

    span {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      transform: translateX(-100%);
      transition: transform 275ms ease;

      &::before {
        display: inline-block;
        content: attr(data-content);
        color: theme("colors.orange-red-crystal");
        transform: translateX(100%);
        transition: transform 275ms ease;
      }
    }
  }

  .route:hover > span {
    transform: translateX(0);
    &::before {
      transform: translateX(0);
    }
  }

  .special-link {
    background: none,
      linear-gradient(
        to right,
        theme("colors.orange-red-crystal"),
        theme("colors.orange-red-crystal")
      );
    background-repeat: no-repeat;
    background-position:
      100% 100%,
      0 100%;
    background-size:
      100% 0.1em,
      0 0.1em;
    transition: background-size 400ms;
  }

  .special-link:hover {
    background-size:
      0 0.1em,
      100% 0.1em;
  }
}
